<article>
    {{{content}}}
</article>

<hr>

{{> backlinks }}

{{#if GraphData.ConnectedNodes}}
<link rel="stylesheet" href="/assets/knowledge-graph.css">

<div class="connections-section">
    <div class="connected-notes">
        <h3>Connected Notes</h3>
        <div class="connection-links">
            {{#each GraphData.ConnectedNodes}}
            <a href="{{Url}}" class="connection-link">{{Title}}</a>
            {{/each}}
        </div>
    </div>
    
    <div class="mini-graph-container">
        <div class="graph-header">
            <span class="graph-icon" onclick="openFullGraph()" title="Explore connections">⚡</span>
        </div>
        <div id="mini-graph" class="mini-graph" data-current-note="{{GraphData.CurrentNoteId}}"></div>
    </div>
</div>

<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="/assets/knowledge-graph.js"></script>
{{/if}}
